@using ViewModel
@model TenantEdit

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Tenant</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Tenant.TenantId)
        @Html.HiddenFor(model => model.Tenant.RowGuid)
        <!-- optimistic concurrency -->
        @Html.HiddenFor(model => model.Tenant.RowVersion)
        

        <div class="form-group">
            @Html.LabelFor(model => model.Tenant.AccountNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tenant.AccountNumber)
                @Html.ValidationMessageFor(model => model.Tenant.AccountNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tenant.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tenant.Name)
                @Html.ValidationMessageFor(model => model.Tenant.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tenant.Active, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tenant.Active)
                @Html.ValidationMessageFor(model => model.Tenant.Active)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tenant.PrimaryContactFirstName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tenant.PrimaryContactFirstName)
                @Html.ValidationMessageFor(model => model.Tenant.PrimaryContactFirstName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tenant.PrimaryContactLastName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tenant.PrimaryContactLastName)
                @Html.ValidationMessageFor(model => model.Tenant.PrimaryContactLastName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tenant.PrimaryContactPhone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tenant.PrimaryContactPhone)
                @Html.ValidationMessageFor(model => model.Tenant.PrimaryContactPhone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tenant.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tenant.Description)
                @Html.ValidationMessageFor(model => model.Tenant.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tenant.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tenant.Email)
                @Html.ValidationMessageFor(model => model.Tenant.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tenant.OfficePhone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tenant.OfficePhone)
                @Html.ValidationMessageFor(model => model.Tenant.OfficePhone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tenant.Street, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tenant.Street)
                @Html.ValidationMessageFor(model => model.Tenant.Street)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tenant.City, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tenant.City)
                @Html.ValidationMessageFor(model => model.Tenant.City)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tenant.State, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tenant.State)
                @Html.ValidationMessageFor(model => model.Tenant.State)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tenant.Zip, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tenant.Zip)
                @Html.ValidationMessageFor(model => model.Tenant.Zip)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.RowGuid, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RowGuid)
                @Html.ValidationMessageFor(model => model.RowGuid)
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.LastModifiedBy, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastModifiedBy)
                @Html.ValidationMessageFor(model => model.LastModifiedBy)
            </div>
        </div>*@

         @*I commented this out because I don't think the RowVersion should be displayed.
            What I think should happen is the RowGuid should be hiddend instead.
            <div class="form-group">
                @Html.LabelFor(model => model.RowVersion, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RowVersion)
                    @Html.ValidationMessageFor(model => model.RowVersion)
                </div>
            </div>*@
        

        <!-- In the other Tenant Edit.cshtml file, I didn't actually have the
        contact type id on display, instead it is hiddend.  Need to test this. -->
        <div class="form-group">
            @Html.LabelFor(model => model.Tenant.ContactTypeId, "ContactTypeId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.DropDownList("ContactTypeId", String.Empty)*@
                @Html.DropDownListFor(model => model.Tenant.ContactTypeId, Model.Types)
                @Html.ValidationMessageFor(model => model.Tenant.ContactTypeId)
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
